$black: #0F0F0F;
$transparent-black: rgba($black, .25);
$dark-gray: #1B1B1B;
$white: #F6F6F6;
$transparent-white: rgba($white, .1);
$gray: #BCBCBC;
$transparent-gray: rgba($gray, .1);
$purple: #3F44EE;
$transparent-purple: rgba($purple, .1);
$purple-subtle: #5358EE;